<strong>Recuperação de Senha<strong>

<p>Olá {{username}}, você solicitou uma recuperação de senha.</p>

<p>Para dar prosseguimento, utilize o token {{token}}</p>

<a href="{{link}}">Reset Password</a>
